@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  background-color: #000 !important;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
    opacity: 0;
  }
}

.header.active {
  background: linear-gradient(180deg, #ffc059 100%, #343d48 59%, #0f2137 100%);
}

.hero {
  /* height: 100vh; */
  background: linear-gradient(180deg, #ffc059 0%, #343d48 59%, #0f2137 100%);
}

.navbar {
  background: transparent;
}

.bold-heading {
  font-weight: 900;
}

.hero-content {
  min-height: 100vh; /* Ensures the content takes up the full height of the viewport */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-heading {
  margin-bottom: 20px;
}

p {
  margin-bottom: 30px;
}

.hero-content h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 900 !important;
}

.hero-content p {
  font-family: "Manrope", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  text-justify: inter-word;
  margin-top: 2rem;
}

.hero-content button {
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
  margin-top: 3rem;
}

/* .navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
} */

.btn-dark {
  background-color: black !important;
  border-color: black !important;
}

.btn-warning {
  background-color: #ffc059 !important;
  border-color: #ffc059 !important;
  color: white !important;
}

@media (max-width: 991.98px) {
  /* Adjust breakpoint as needed */
  .navbar {
    background: linear-gradient(180deg, #ffc059 0%, #343d48 59%, #0f2137 100%);

    /* Color when collapsed */
  }

  .hero-content p {
    font-size: 12px;
  }

  /* .hero-heading {
    font-size: 30px !important;
  } */

  .hero-content button {
    margin-top: 0 !important;
  }
}

.btn-dark:hover {
  background-color: #28231d !important;
}

.menu-link {
  font-size: 1rem !important;
  font-family: "Manrope", sans-serif;
  font-weight: 900 !important;
  color: black !important;
}

.menu-link:hover {
  text-decoration: underline;
}

.menu-btn {
  padding: 0.5rem 3rem !important;
}

.heading {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #fff !important;
}

.sub-heading {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  color: #84a5aa;
}

.svg-bg {
  background: linear-gradient(
    180deg,
    rgba(255, 192, 89, 0.08) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.ceo-title {
  font-family: "Manrope", sans-serif;
  color: #fff;
}

.ceo-subtitle {
  font-family: "Manrope", sans-serif;
  color: #84a5aa;
}

.platform h2 {
  font-family: "Inter", sans-serif;
  color: white;
}

.expertise {
  background: url("./images/div.grid.svg") no-repeat center center;
  padding: 3rem !important;
  background-size: cover;
}

.espertise-item {
  font-weight: 900 !important;
}
.exp-card {
  background-color: #111827bf !important;
  font-family: "Inter", sans-serif;
}

.strategy {
  background: linear-gradient(
    180deg,
    #ffc059 0%,
    rgba(52, 61, 72, 0.5) 59%,
    #000000 100%
  );
  font-family: "Plus Jakarta Sans", sans-serif;
}

.strategy p {
  font-family: "Manrope", sans-serif;
}

.subscribe {
  margin-top: 90px;
}

.subscribe input {
  color: white !important;
}

.subscribe input::placeholder {
  font-size: 10px;
  color: white;
}

.text-gradient {
  color: #62f9ce;
}

.text-sub {
  font-family: "Manrope", sans-serif;
}

.card {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.btn-info {
  background-color: #62f9ce !important;
  border-color: #62f9ce !important;
}

.footer {
  color: #fff;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
}

.border-card {
  border: 10px solid white !important;
}
